body {
  margin: 0;
  background: #46b5d1;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 25px 20px 100px 110px;
  gap: 25px;
}

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}


/*menu*/
#sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: -300px;
    transition: .4s;
}
#sidebar.active {
    left: 0;
}

#sidebar ul{
    padding: 60px 20px;
}

#sidebar ul li{
    list-style: none;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
    padding: 25px 24px;
    font-weight: 525;
    letter-spacing: 1px;
}
#sidebar ul li:hover{
    color: orange;
    transition: .4s;
}
#sidebar .toggle-btn {
    position: fixed;
    top: 30px;
    left: 40px;
    transition: .4s;
}


.toggle-btn span {
    width: 45px;
    height: 4px;
    background: black;
    display: block;
    margin-top: 4px;
}

#sidebar.active .toggle-btn{
    top: 32px;
    
}

#sidebar.active .toggle-btn{

    transition: .4s;
    background: white;
}
